fastapi
uvicorn
python-multipart
llama-index-core
llama-index-embeddings-fastembed
fastembed
pymupdf4llm
weaviate-client
loguru
langchain-groq
langchain-core
pydantic
python-dotenv
json-repair
PyJWT
httpx
supabase
slowapi
